<div class="mx-auto max-w-5xl m-8">
  <div class="rounded-3xl p-24 bg-stone-100 shadow-lg rotate-1">
    <h1 class="font-bold text-center text-5xl text-gray-900 mb-8">Here's what we're about</h1>
    <p class="text-xl">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis, lectus nec fermentum ornare, odio arcu pellentesque magna, ac lacinia ex ipsum eu orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus cursus fringilla odio, et pulvinar nunc porttitor a. Vestibulum magna dolor, pharetra vel ante ac, convallis facilisis justo. Suspendisse a dui eget leo euismod interdum eget ac neque. In mattis lorem nibh. Morbi quis arcu tincidunt odio ultricies ultrices ut eu nunc. Pellentesque hendrerit elit nec sapien maximus, vel feugiat orci commodo. Pellentesque accumsan mauris at accumsan placerat. Vestibulum sollicitudin iaculis orci quis dignissim. Aenean in malesuada purus. Nunc elit arcu, facilisis ac quam ut, gravida tincidunt elit. Sed sed diam mi. Donec vehicula ut sapien sed tempus.
    </p>
  </div>
</div>
