<section class="py-24 border-y">
  <div class="container mx-auto w-1/2">
    <div class="mb-6">
      <div class="mb-8 text-xl font-semibold">
        <i class="fa-regular fa-heart fa-beat inline mr-2"></i>feature
      </div>
      <h1 class="text-5xl font-bold mb-4">Some feature headline goes here</h1>
      <p class="text-lg text-neutral-600">
        Boilerplate is a mildly opinionated Rails starter app built on Rails, PostgreSQL, Stimulus and TailwindCSS.
      </p>
    </div>
    <%= image_tag "https://placehold.co/600x400/orange/white", class: "rounded-3xl shadow-2xl shadow-black/20 w-full" %>
  </div>
</section>
