<div class="p-4">
  <div class="container mx-auto bg-zinc-100 rounded-3xl grid lg:grid-cols-2 p-8 lg:p-12 xl:p-24 gap-8">
    <div class="my-auto">
      <h2 class="mb-8 text-5xl font-extrabold md:text-6xl md:tracking-tight">
        All your <span class="block w-full text-transparent bg-clip-text bg-gradient-to-r from-amber-200 to-amber-600 lg:inline">boilerplate</span> are belong to us.
      </h2>

      <p class="text-xl">
        Boilerplate is a mildly opinionated Rails starter app built on Rails, PostgreSQL, Stimulus and TailwindCSS.
      </p>
    </div>

    <div class="lg:mx-auto">
      <%= image_tag "https://placehold.co/600x400/orange/white", class: "rounded-xl md:rounded-3xl w-full" %>
    </div>
  </div>
</div>
