<section class="py-12 md:py-24 px-4">
  <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">

    <h1 class="mb-4 text-5xl font-extrabold md:text-6xl md:tracking-tight">
      All your <span class="block w-full text-transparent bg-clip-text bg-gradient-to-r from-amber-200 to-amber-600 lg:inline">boilerplate</span> are belong to us.
    </h1>

    <p class="px-0 mb-4 text-xl lg:px-24">
      Boilerplate is a mildly opinionated Rails starter app built on Rails, PostgreSQL, Stimulus and TailwindCSS.
    </p>

    <div class="my-12">
      <%= link_to new_user_registration_path, class: "px-8 py-4 rounded-lg bg-zinc-900 text-zinc-50 text-lg" do %>
        Sign up for free <i class="fa-solid fa-arrow-right ml-2"></i>
      <% end %>
    </div>
  </div>

  <div class="md:w-3/5 mx-auto">
    <%= image_tag "https://placehold.co/600x400/orange/white", class: "rounded-3xl shadow-2xl w-full" %>
  </div>
</section>
