<section class="border-t py-24">
  <div class="container mx-auto w-full lg:w-1/2">
    <h1 class="text-5xl font-bold text-center">Is this you?</h1>
    <h1 class="text-5xl font-bold text-center">Meet boilerplate</h1>
  </div>
</div>
