<div class="p-4">
  <section id="pricing" class="px-8 py-20 mx-auto bg-zinc-900 text-zinc-50 rounded-3xl container">
    <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
      <h1 class="block pb-2 mb-5 text-4xl font-extrabold leading-none tracking-normal text-transparent md:text-6xl md:tracking-tight bg-clip-text bg-gradient-to-r from-amber-200 to-amber-600">
        Simple, transparent pricing.
      </h1>
      <p class="px-0 mb-4 text-xl lg:px-24">Pricing that works for companies of any size.</p>

      <div class="flex justify-center items-center gap-3.5">
        <div class="flex -space-x-4">
          <img class="w-10 h-10 border-4 border-zinc-900 rounded-full dark:border-gray-800" src="https://i.pravatar.cc/100?img=5" alt="">
          <img class="w-10 h-10 border-4 border-zinc-900 rounded-full dark:border-gray-800" src="https://i.pravatar.cc/100?img=7" alt="">
          <img class="w-10 h-10 border-4 border-zinc-900 rounded-full dark:border-gray-800" src="https://i.pravatar.cc/100?img=3" alt="">
          <img class="w-10 h-10 border-4 border-zinc-900 rounded-full dark:border-gray-800" src="https://i.pravatar.cc/100?img=4" alt="">
        </div>
        <p class="underline text-zinc-400">400+ happy customers</p>
      </div>
    </div>

  <div class="mx-auto max-w-4xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 sm:items-center md:gap-8">

      <div class="rounded-3xl border border-zinc-200 p-6 sm:px-8 lg:p-12 w-full bg-white text-zinc-900">
        <div class="text-center">
          <h2 class="text-3xl mb-6 font-semibold text-amber-600">
            Starter <span class="sr-only">Plan</span>
          </h2>

          <p class="">
            <strong class="text-3xl font-bold text-zinc-900 sm:text-4xl">
              $30
            </strong>

            <span class="text-sm font-medium text-zinc-400">/ month</span>
          </p>
        </div>

        <ul class="my-10 space-y-2">
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>20 users included</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>5GB of storage</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>Email support</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-red-600"></i>Help center access</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-red-600"></i>Phone support</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-red-600"></i>Community access</li>
        </ul>

        <%= link_to new_user_registration_path, class: "block w-full text-center py-4 px-8 mx-auto rounded-lg bg-zinc-900 text-zinc-50 text-lg" do %>
          Choose plan
        <% end %>
      </div>

      <div class="rounded-3xl border border-zinc-200 p-6 sm:px-8 lg:p-12 w-full bg-white text-zinc-900">
        <div class="text-center">
          <h2 class="text-3xl mb-6 font-semibold text-amber-600">
            Pro <span class="sr-only">Plan</span>
          </h2>

          <p class="">
            <strong class="text-3xl font-bold text-zinc-900 sm:text-4xl">
              $69
            </strong>

            <span class="text-sm font-medium text-zinc-400">/ month</span>
          </p>
        </div>

        <ul class="my-10 space-y-2">
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>20 users included</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>5GB of storage</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-check text-green-600"></i>Email support</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-green-600"></i>Help center access</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-green-600"></i>Phone support</li>
          <li class="flex items-center gap-3"><i class="fa-solid fa-xmark text-green-600"></i>Community access</li>
        </ul>

        <%= link_to new_user_registration_path, class: "block w-full text-center py-4 px-8 mx-auto rounded-lg bg-zinc-900 text-zinc-50 text-lg" do %>
          Choose plan
        <% end %>
      </div>

    </div>
  </div>

  <div class="flex justify-center">
    <p class="text-zinc-400">No commitment, cancel anytime</p>
  </div>

  </section>
</div>
