<section class="">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <figure class="max-w-screen-md mx-auto">
          <blockquote>
              <p class="text-3xl font-medium text-zinc-900">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
              <img class="w-10 h-10 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                  <div class="pr-3 font-semibold text-gray-900 dark:text-white">Micheal Gough</div>
                  <div class="pl-3 text-gray-500 dark:text-gray-400">CEO at Google</div>
              </div>
          </figcaption>

          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
      </figure>
  </div>
</section>
