
<div class="rounded-xl bg-white border py-6 px-8 text-left">
  <div class="flex items-center gap-2">
    <img src="https://i.pravatar.cc/100?img=7" class="h-12 w-12 rounded-full" />
    <div class="flex flex-col">
      <a class="font-bold" href="#">Walter Bishop</a>
      <span class="text-zinc-500">@walterb</span>
    </div>
  </div>
  <div class="my-2">The only thing better than a cow is a human! Unless you need milk. Then you really need a cow. </div>
  <div class="text-zinc-500 text-sm">11:56 AM - Aug 3, 2009</div>
  <div class="mt-2">
    <i class="fa-solid fa-star text-yellow-500"></i>
    <i class="fa-solid fa-star text-yellow-500"></i>
    <i class="fa-solid fa-star text-yellow-500"></i>
    <i class="fa-solid fa-star text-yellow-500"></i>
    <i class="fa-solid fa-star text-yellow-500"></i>
  </div>
</div>
