<div class="px-6">
  <div class="bg-indigo-500 py-3 text-white rounded-xl">
    <p class="text-left text-sm font-medium sm:text-center">
      Love Alpine JS? Check out this new course!

      <a class="underline" href="/alpinejs"> Learn More &rarr; </a>
    </p>
  </div>
</div>
