<div class="relative bg-indigo-600/20 px-4 py-3 pr-14 text-white rounded-2xl">
  <p class="text-left text-sm font-medium sm:text-center">
    Love Alpine JS? Check out this new course!

    <a class="underline" href="/alpinejs"> Learn More &rarr; </a>
  </p>
</div>
