<footer class="w-full bg-white">
  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-2 gap-10 mb-3 md:grid-cols-3 lg:grid-cols-11 lg:gap-20">
      <div class="col-span-3">
        <%= link_to root_path, class: "flex items-center" do %>
          <span class="text-3xl font-bold">Boilerplate</span>
        <% end %>

        <p class="my-4 text-gray-600">
          Put a nice short description of your app here. Built by @spencerldixon
        </p>
      </div>
      <nav class="col-span-1 md:col-span-1 lg:col-span-2">
        <p class="mb-3 font-semibold tracking-wider text-gray-400 uppercase">Product</p>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Features</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Pricing</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Feedback</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">FAQs</a>
      </nav>
      <nav class="col-span-2 md:col-span-1 lg:col-span-2">
        <p class="mb-3 font-semibold tracking-wider text-gray-400 uppercase">Support</p>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Chat</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#"> Email Support </a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">GDPR</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#"> Help </a>
      </nav>
      <nav class="col-span-1 md:col-span-1 lg:col-span-2">
        <p class="mb-3 font-semibold tracking-wider text-gray-400 uppercase">Resources</p>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Blog</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#"> Twitter </a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Alternatives</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Why feature vote?</a>
      </nav>
      <nav class="col-span-1 md:col-span-1 lg:col-span-2">
        <p class="mb-3 font-semibold tracking-wider text-gray-400 uppercase">Company</p>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">About Us</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Privacy</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Terms</a>
        <a class="flex mb-3 text-gray-800 transition md:mb-2 hover:text-purple-800" href="#">Status</a>
      </nav>
    </div>
    <div class="flex flex-col items-start justify-between pt-10 mt-10 border-t border-gray-100 md:flex-row md:items-center">
      <p class="mb-2 text-left text-gray-600 md:mb-0">Built by @spencerldixon</p>
      <p class="mb-0 text-left text-gray-600 md:mb-0">Copyright <%= Date.current.year %> Boilerplate</p>
    </div>
  </div>
</footer>

