<nav class="hidden bg-white h-screen w-screen fixed top-0 left-0 animate__animated animate__slideInLeft animate__faster z-20 overflow-auto" data-reveal-target="hideable">
  <div class="container">
    <%= render "shared/sidebar" %>
  </div>
</nav>
