<div class="flex fixed top-0 left-0 z-20 bg-neutral-500/50 h-screen w-screen justify-center items-center hidden" data-modal-target="modal" data-action="keydown.esc@window->modal#close click->modal#close">
  <div class="bg-white z-50 m-4 max-w-xl rounded-lg drop-shadow-2xl min-w-[20%] overflow-auto">
    <i class="fixed top-4 right-4 fa-solid fa-xmark fill-neutral-900 h-4 w-4 cursor-pointer" data-action="click->modal#close"></i>

    <div class="overflow-auto max-h-[80vh] p-6">
      <%= yield %>
    </div>
  </div>
</div>
