<%= turbo_frame_tag "onboarding" do %>
  <div class="flex flex-col items-center">
    <h1 class="text-2xl font-semibold">Welcome to Boilerplate 👋</h1>
    <p class="my-8">
      This is an onboarding modal. You can use it to prompt users to set up their account, confirm their email, or direct them to somewhere useful.
    </p>
    <%= link_to "Got it!", root_path, class: "px-8 py-2 bg-slate-900 text-white rounded-xl" %>
  </div>
<% end %>
